<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
{{>header}}	

<ul type="square">
	<li>First one </li>
	<li>Second one</li>
</ul>    
<ol type="">
	<li>Oerdered first</li>
	<li>Ordereed second</li>
</ol>
{{>footer}}
</body>
</html>
